.side-menu-admin {
    .ui.menu {
        width: 250px !important;
        overflow: hidden !important;
        padding-top: 4em !important;
        z-index: 99 !important;
    }
    i.icon {
        float: initial !important;
        margin: 0 !important;
        margin-right: 10px !important;
    }

    .content {
        position: absolute;
        right: 0;
        padding: 10px;
        width: calc(100% - 250px);
    }
}